<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clive.mapper.TbItemMapper">
	<select id="findTbItemById" parameterType="long" resultType="com.clive.bean.TbItem">
		SELECT * FROM tbitem WHERE id = #{id}
	</select>
	<select id="findTbItemAll" parameterType="Integer" resultType="com.clive.bean.TbItem">
		SELECT * FROM tbitem LIMIT #{0},#{1}
	</select>
	<select id="findAllCount"  resultType="Integer">
		SELECT count(*) FROM tbitem
	</select>
</mapper>
